@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Raleway:wght@400;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-padding-top: 7vh;
}

body {
	font-family: 'Raleway', sans-serif;
	height: 100%;
	background-color: #ffefdb;
	overflow-x: hidden;
}

nav {
	position: fixed;
	display: flex;
	align-items: center;
	height: 7vh;
	width: 100%;
	top: 0;
	left: 0;
	/* margin-bottom: 7vh; */
	background-color: #ffdaad;
	box-shadow: 0 1px 3px #000;
	z-index: 100;
	/* gsap */
	transform: translateY(-100%);
}

.logo {
	margin-left: 3%;
	font-family: 'Dancing Script', cursive;
	font-size: 2.4rem;
	font-weight: bold;
}

.nav-items {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 100%;
	width: 100%;
	margin-right: 2rem;
	list-style-type: none;
}

.nav-items li a {
	margin-left: 1rem;
	padding: 10px 15px;
	font-size: 1.4rem;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	border-radius: 15px;
}

.burger {
	display: none;
	float: right;
	margin-left: auto;
	margin-right: 15px;
	cursor: pointer;
}

.burger .line {
	height: 3px;
	width: 25px;
	margin: 5px;
	background-color: #000;
	transition: transform 0.4s ease-in-out;
}

.container {
	display: flex;
	flex-direction: column;
}

/* section {
	top: 0;
	left: 0;
} */

/** HOME  */

#home {
	margin-top: 7vh;
	/* margin-bottom: 2rem; */
}

.header {
	text-align: center;
	margin: 1rem 0;
	font-family: 'Dancing Script', cursive;
	font-size: 2.2rem;
	/* gsap */
	opacity: 0;
}

.banner-container {
	display: flex;
	justify-content: center;
	height: 25vh;
	width: 100%;
	margin-bottom: 2rem;
}

.banner {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 700px;
	max-width: 800px;
	background: url('https://images.unsplash.com/photo-1541876176131-3f5e84a7331a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80')
		center center;
	background-size: cover;
	/* gsap */
	transform: translateY(100%);
	opacity: 0;
}

.banner h3 {
	padding: 2rem 5rem;
	background-color: rgba(0, 0, 0, 0.26);
	color: #fff;
	/* gsap */
	transform: translateY(-100%);
	opacity: 0;
}

.row {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	/* width: 100%; */
	margin: 0.5rem 0;
}

.column {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 30vw;
	padding: 1rem 3rem;
	background-color: #fff8ef;
	border: 4px groove #000;
}

/* gsap */
.column:nth-child(1) {
	transform: translateX(-150%) scale(0.2);
	opacity: 0;
}
.column:nth-child(2) {
	transform: translateX(150%) scale(0.2);
	opacity: 0;
}

/* .img-container {
	display: flex;
	justify-content: center;
	height: 30vh;
	width: 100%;
} */

.image-boxes {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 2rem 0;
	/* background-color: #fff8ef; */
	overflow: hidden;
}

.image-boxes .box {
	height: 200px;
	width: 200px;
}

.image-boxes .box:nth-child(2) {
	margin: 0 5%;
}

.box img {
	height: 100%;
	width: 100%;
	/* gsap */
	transform: translateY(100%);
	opacity: 0;
}

/** ABOUT  */
#about {
	padding-bottom: 2rem;
	background-color: #fff8ef;
}

.container h2 {
	text-align: center;
	margin-bottom: 2rem;
	font-family: 'Dancing Script', cursive;
	font-size: 2.5rem;
	transform: translateY(50%);
}

.about-row {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	/* flex-wrap: wrap; */
	text-align: center;
	max-height: 500px;
	padding: 1rem;
}

.about-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	float: left;
	height: 100%;
	max-height: 500px;
	width: 100%;
}

.about-columnA,
.about-columnC {
	width: 23%;
}

.about-columnB {
	display: flex;
	align-items: center;
	width: 50%;
	max-width: 500px;
}

.about-columnB img {
	object-fit: cover;
	height: 100%;
	width: 100%;
	/* gsap */
	transform: translateY(100%);
	opacity: 0;
}

/* gsap */
.about-columnA {
	transform: translateX(100vw);
}

/* gsap */
.about-columnC {
	transform: translateX(-100vw);
}

/** CONTACT */

#contact {
	display: flex;
	justify-content: space-around;
	height: 100%;
	margin: 0;
	padding: 0;
}

.contact {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.maps-image {
	max-height: 300px;
	max-width: 300px;
	margin: 2rem 0;
}

.maps-image img {
	height: 100%;
	width: 100%;
	cursor: pointer;
}

.info-container {
	display: flex;
	flex-direction: column;
}

.info-container .phone {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 1rem;
	font-size: 1.2rem;
}

.info-container .phone i {
	margin-right: 0.5rem;
	font-size: 1.4rem;
}

footer {
	text-align: center;
	height: 100%;
	bottom: 0;
	left: 0;
	font-size: 2rem;
	background-color: #ffdaad;
	/* gsap */
	transform: translateY(100%);
}

footer .icons i {
	margin: 0 0.5rem;
	cursor: pointer;
}

/* Burger Animation */
.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
	transition: transform 0.4s ease-in-out;
}
.toggle .line2 {
	opacity: 0;
	transition: transform 0.4s ease-in-out;
}
.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
	transition: transform 0.4s ease-in-out;
}

@media (min-width: 1200px) {
	#home {
		justify-content: space-between;
		height: 93vh;
	}
}

@media (max-width: 900px) {
	.row,
	.about-row {
		flex-direction: column;
		align-items: center;
		max-height: 100%;
		width: 100%;
	}
	.column,
	.about-column {
		flex-direction: column;
		margin-top: 2rem;
		height: 100%;
		width: 90vw;
	}
	.about-columnB {
		margin: 1rem 0;
	}
}

@media (max-width: 680px) {
	.banner-container {
		padding: 0 10px;
	}
	.column,
	.about-column {
		padding: 1rem;
	}
	.image-boxes {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.image-boxes .box:nth-child(2) {
		margin: 2% 0;
	}
	/* .about-row {
		padding: 5px;
	} */
}

@media (max-width: 600px) {
	.nav-items {
		position: fixed;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		height: 93vh;
		width: 100%;
		top: 7vh;
		background-color: rgba(0, 0, 0, 0.925);
		color: #fff;
		transform: translateX(150%);
		transition: 0.4s ease-in-out;
	}
	.nav-items li a {
		color: #fff;
	}
	.nav.active {
		background-color: #fff;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
		transition: all 0.5s ease-in-out;
	}
	.nav.active a {
		color: #fff;
		transition: all 0.5s ease-in-out;
	}
	.burger {
		display: block;
	}
	.nav-items.open {
		transform: translate(0%);
		transition: 0.5s ease-in-out;
	}
}
